.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 90%;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 30;
  animation: slide-down 300ms ease-out forwards;
}

@media (min-width: 768px) {
  .modal {
    width: 40rem;
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.method {
  margin-top: 12px;
  border-radius: 8px;
  background-color: rgb(216, 188, 253);
  padding: 16px;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.method svg {
  width: 2rem;
  height: 2rem;
  color: #38015c;
}

.method p {
  font-size: 24px;
  margin: 0;
}

.actions button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
}

.actions button:last-of-type {
  margin-left: 8px;
}

.submit {
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.submit:hover {
  background-color: #540d83;
  border-color: #540d83;
  transition: all 0.2s ease-in-out;
}

.cancel {
  background-color: #a31111;
  color: white;
  border: 1px solid #a31111;
}

.cancel:hover {
  background-color: #a12f2f;
  border-color: #a12f2f;
  transition: all 0.2s ease-in-out;
}
