.menu {
  width: 240px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0.5rem;
  background-color: #fff;
  list-style: none;
}

.menu button {
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: #c291e2;
  color: #540d83;
  width: 100%;
  border: 1px solid #c291e2;
  margin-bottom: 8px;
  font-weight: bold;
}

.menu button:hover {
  background-color: #540d83;
  border-color: #540d83;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.active {
  color: orange !important;
  background-color: #540d83 !important;
}
