.info {
  padding: 1rem;
  display: block;
  flex-direction: column;
}

.btn {
  margin-top: 16px;
  width: auto;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border-radius: 8px;
  background-color: #38015c;
  color: white;
  border: 1px solid #38015c;
}

.btn:hover {
  background-color: #540d83;
  border-color: #540d83;
}
